@import "./variaveis.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--cor-escuro-2);
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

div,
section {
  scrollbar-width: none;
}

div::-webkit-scrollbar,
section::-webkit-scrollbar {
  display: none !important;
}

body.bloquear,
body.bloqueado {
  overflow: hidden !important;
}

::selection {
  color: var(--cor-branco);
  background-color: var(--cor-azul-escuro);
}

a,
img,
svg,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
}

/* 1. Para Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 2. Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield; /* Padrão moderno */
}

a {
  background-color: transparent;
  cursor: pointer;
}

img {
  border-style: none;
}

button {
  font-family: inherit;
  line-height: 1;
  margin: 0;
  -moz-appearance: none !important;
  -webkit-appearance: button;
  appearance: button;
  text-transform: none;
  overflow: visible;
  cursor: pointer;
}

/* Evita que elementos dentro do botão disparem eventos de clique separados */
button * {
  pointer-events: none;
}

input {
  line-height: 1;
  -moz-appearance: none !important;
  appearance: none;
  overflow: visible;
}

textarea {
  -moz-appearance: none !important;
  appearance: none;
  overflow: auto;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

[type='button'] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner {
  border-style: none;
}
