@import "../../assets/css/index.css";

.projetos {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.projetos h2 {
  font-family: var(--bold);
  font-size: var(--f9);
  margin-bottom: 20px;
}